:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
}

body {
  background-color: E5E5E5;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px;
  margin-left: auto;
  margin-right: auto;
}

.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: -1px;
  /* border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  position: absolute; */
}

.header {
  border-bottom: 1px solid #ececec;
}

/*------------------Logo */

.logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
}

.logo-first {
  color: #000000;
}

.logo-second {
  color: var(--main-white-color);
}

/* -------------Site nav */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* коли підключаю, то все ламається(( */

/* .site-nav .link.current {
  color: var(--accent-color);
} */

/* --------------Contacts */

.contacts .link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* ----------------Hero */

.hero {
  background-color: var(--primary-bg-color);
}

.hero-title {
  color: var(--main-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
}

/* -------------Features */

.features-item .title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1, 14;
  text-transform: uppercase;
}

.features-item .text {
  font-size: 14px;
  line-height: 1, 71;
}

/* ----------Gallery---+---Team------ */

.gallery-title,
.team-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
}

/* -----------Team----+ Portfolio---- */

.team {
  background-color: var(--secondary-bg-color);
}

.team .item {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  /* text-align: center; */
}

.team .profession,
.portfolio .item {
  font-size: 16px;
  line-height: 1, 19;
  /* text-align: center; */
}

/* -----------------Portfolio */

.portfolio .title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* -------------------Button */

.button.primary {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 19;
  /* align-items: center;
  text-align: center; */
  letter-spacing: 0.06em;
}

.button.primary:hover,
.button.primary:focus {
  color: var(--title-text-color);
  background-color: tomato;

  /* будуть застосовані такі кольори, тимчасово
  томато+чорн поставила для візуальності кнопки */

  /* color: var(--main-white-color);
  background-color: #188ce8; */
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

/* ---------------------Footer */

.footer {
  background-color: var(--primary-bg-color);
}

.address .link-address {
  color: var(--main-white-color);
  font-style: normal;
}
.address .link-address:hover,
.address .link-address:focus {
  color: var(--accent-color);
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1, 71;
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
